.icon-rank {
  background-image: url(images/icon-rank.png);
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 24px;	
}
.icon-rank-1 {
  background-position: 0 0;
}
.icon-rank-2 {
  background-position: -24px 0;	
}
.icon-rank-3 {
  background-position: -48px 0;
}
.icon-rank-4 {
  background-position: -72px 0;
}
.icon-rank-5 {
  background-position: -96px 0;
}
.icon-team {
  background-image: url(images/icon-team.png);
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 24px;	
}
.icon-team-a {
  background-position: 0 0;
}
.icon-team-b {
  background-position: -24px 0;	
}
.icon-team-r {
  background-position: -48px 0;
}
.icon-team-g {
  background-position: -72px 0;
}
#meter {
  height: 10px;
  margin-left: 4px;
  position: absolute;
  top: 128px;
  width: 99%;
}
#meter-value {
  width: 50%;	
}
#meter-marker {
  background-image: url(images/meter-marker.png);
  height: 24px;
  left: 48%;
  position: absolute;
  top: -7px;
  width: 46px;
  z-index: 1030;
}