#meter {
  height: 10px;
  margin-left: 4px;
  position: absolute;
  top: 134px;
  width: 99%;
}
#meter-value {
  width: 50%;	
}
#meter-marker {
  background-image: url(images/meter-marker.png);
  height: 24px;
  left: 48%;
  position: relative;
  top: -18px;
  width: 46px;
}