.cod-icon-rank {
  background-image: url(images/cod-icon-rank.png);
  background-repeat: no-repeat;
  float: right;
  height: 24px;
  width: 24px;	
}
.cod-icon-rank1 {
  background-position: 0 0;
}
.cod-icon-rank2 {
  background-position: -24px 0;	
}
.cod-icon-rank3 {
  background-position: -48px 0;
}
.cod-icon-rank4 {
  background-position: -72px 0;
}
.cod-icon-rank5 {
  background-position: -96px 0;
}
#meter {
  height: 10px;
  margin-left: 4px;
  position: absolute;
  top: 134px;
  width: 99%;
}
#meter-value {
  width: 50%;	
}
#meter-marker {
  background-image: url(images/meter-marker.png);
  height: 24px;
  left: 48%;
  position: relative;
  top: -18px;
  width: 46px;
}