.olMap {
  border: none;
  cursor: url(images/hand-opened.cur), default;
  position: absolute;
  width: 100%;
}
.olDragDown {
  cursor: url(images/hand-closed.cur), default;
}
.olControlCustomPanPanel {
  background: url(images/pan-panel.png) no-repeat;
  cursor: default;
  height: 54px;
  left: 10px;
  top: 10px;
  width: 54px;
}
.olControlCustomPanPanel div {
  cursor: pointer;
  height: 16px;
  position: absolute;
  width: 16px;
}
.olControlPanNorthItemInactive {
  left: 17px;
  top: 0px;
}
.olControlPanSouthItemInactive {
  left: 17px;
  top: 34px;
}
.olControlPanWestItemInactive {
  left: 0px;
  top: 17px;
}
.olControlPanEastItemInactive {
  top: 17px;
  left: 34px;
}
.olControlZoomPanel {
  background: url(images/zoom-panel.png) no-repeat;
  cursor: default;
  height: 64px;
  left: 27px;
  top: 74px;
  width: 20px;
}
.olControlZoomPanel div {
  cursor: pointer;
  height: 18px;
  position: absolute;
  width: 18px;
}
.olControlZoomInItemInactive {
  left: 0px;
  top: 2px;
}
.olControlZoomToMaxExtentItemInactive {
  left: 0px;
  top: 22px;
}
.olControlZoomOutItemInactive {
  left: 0px;
  top: 42px;
}