.ui-message {
  font-family: courier new;
  font-weight: bold;
  font-size: 1.3em;
}
.ui-message-body {
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 800;
}
.ui-message-list {
  margin: 0;
  padding: 0;
}
.ui-message-item {
  height: 24px;
  list-style-type: none;
  padding-right: 4px;
}
.ui-message-name {
  text-shadow: 2px 2px 1px black;
}
.ui-message-team-a {
  color: #64C461;
}
.ui-message-team-b {
  color: #46489B;
}
.ui-message-team-r {
  color: #B4433F
}
.ui-message-team-g {
  color: #ABABAB;
}
.ui-message-icon {
  height: 32px;
  margin: 0 8px;
  width: 32px;
}