.ui-picker {
  width: 100%;
}
.ui-picker-body {
  height: 32px;
  margin: 5px 10px 5px 44px;
  min-width: 400px;
}
.ui-picker-title {
  float: left;
  font-size: 1.4em;
  margin: 3px 10px;
}
.ui-picker-combo {
  cursor: pointer;
  float: left;
  height: 24px;
  margin-top: 3px;
}
.ui-picker-combo-input {
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  height: 18px;
  padding: 3px 4px;
  width: 350px;
}
.ui-picker-combo-loading {
  font-style: italic;
  font-weight: normal;
}
.ui-picker-combo-button {
  float: left;
  left: -1px;
  padding: 4px;
  position: relative;
}
.ui-picker-popup {
  position: absolute;
  z-index: 1000;
}
.ui-picker-popup-content {
  background: #E9E6DB;
  border: 1px solid #372B13;
  border-top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ui-picker-shadow {
  padding: 0 0 9px 4px;
  position: absolute;
  top: 0;
  z-index: 0;
}
.ui-picker-list {
  margin: 2px 2px 4px 4px;
  overflow-y: scroll;
}
.ui-picker-list ul {
  margin: 0;
  padding: 0;
}
.ui-picker-list li {
  cursor: pointer;
  font-size: 1.3em;
  list-style-type: none;
  margin: 2px 2px 0 0;
  padding: 0 4px;
}
.ui-picker-list li .item-name {
  font-weight: bold;
  position: relative;
  top: -2px;
}
.ui-picker-list li .item-desc {
  font-size: 0.7em;
  font-style: italic;
  position: relative;
  top: -2px;
  margin-left: 20px;
}