.ui-ticker {
  background-image: none;
  border-width: 0 0 1px 0;
  font-family: courier new;
  font-weight: bold;
  height: 145px;
  width: 100%;
}
.ui-ticker-shadow {
  background: url(images/shadow.png) repeat-x;
  height: 5px;
  position: absolute;
  top: 145px;
  width: 100%;
  z-index: 1100;
}
.ui-ticker-item {
  cursor: pointer;
  float: left;
  margin-right: 6px;
  position: relative;
  width: 255px;
}
.ui-ticker-item-shadow {
  height: 120px;
  position: absolute;
  width: 253px;
  z-index: 1025;
}
.ui-ticker-item-header {
  height: 1.4em;
  padding-top: 0.2em;
  position: relative;
  text-align: center;
  z-index: 1050;
}
.ui-ticker-item-header.ui-state-default {
  font-weight: bold;
 }
.ui-ticker-item-content {
  height: 96px;
  position: relative;
  z-index: 1050;
}
.ui-ticker-item-photo {
  border-width: 0 0 0 1px;
  float: right;
  height: 96px;
  margin-left: 4px;
  width: 96px;
}
.ui-ticker-item-icons {
  float: right;
  position: relative;
}
.ui-ticker-place {
  border-width: 0 0 1px 1px;
  font-weight: bold;
  height: 26px;
  left: -5px;
  padding-top: 6px;
  position: absolute;
  text-align: center;
  width: 32px;
}
.ui-ticker-place-label {
  font-size: 0.8em;
  position: relative;
  top: -8px;
  width: 100%;
}
.ui-ticker-place-value {
  font-size: 1.9em;
  font-weight: bold;	
  position: relative;
  top: -13px;
}
.ui-ticker-item-rank {
  position: relative;
  top: 40px;
}
.ui-ticker-item-team {
  position: relative;
  top: 44px;
}
.ui-ticker-stats {
  height: 100%;
}
.ui-ticker-stat-line1 {
  font-size: 1.6em;
}
.ui-ticker-stat-line2 {
  font-size: 1.2em;
}
.ui-ticker-stat-line3 {
  font-size: 0.9em;
}
.ui-ticker-stat-value {
  padding-right: 6px;
  text-align: right;
}