.ui-ticker {
  background-image: none;
  border-width: 0 0 1px 0;
  font-family: courier new;
  font-weight: bold;
  height: 160px;
  width: 100%;
}
.ui-ticker-shadow {
  background: url(images/shadow.png) repeat-x;
  height: 5px;
  position: absolute;
  top: 160px;
  width: 100%;
  z-index: 1100;
}
.ui-ticker-item {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  position: relative;
  width: 250px;
}
.ui-ticker-item-shadow {
  height: 135px;
  position: absolute;
  width: 248px;
  z-index: 1025;
}
.ui-ticker-item-header {
  height: 1.4em;
  padding-top: 0.2em;
  position: relative;
  text-align: center;
  z-index: 1050;
}
.ui-ticker-item-header.ui-state-default {
  font-weight: bold;
 }
.ui-ticker-item-content {
  height: 96px;
  position: relative;
  z-index: 1050;
}
.ui-ticker-item-photo {
  border-width: 0 1px 0 0;
  float: left;
  height: 96px;
  margin-right: 4px;
  width: 96px;
}
.ui-ticker-stats {
  height: 96px;
  width: 145px;
}
.ui-ticker-stat-line1 {
  font-size: 1.6em;
}
.ui-ticker-stat-line2 {
  font-size: 1.2em;
}
.ui-ticker-stat-value {
  padding-right: 6px;
  text-align: right;
}
.ui-ticker-item-footer {
  background: #904C4C;
  border: 1px solid #372B13;
  border-top: 0;
  color: #C9C1A6;
  font-weight: normal;
  height: 14px;
  line-height: 0.9;
  padding-top: 0;
  position: relative;
  text-align: center;
  z-index: 1050;
}